.btn_Agreg_Tec	 {
    background-color: #207be5 !important;
    border: blue;
}
.btn_Agreg_Work	 {
    background-color: #207be5 !important;
    border: blue;
}

.box {
    height: 160vh;
    border: 2px solid #d5cbcb;
    border-radius: 15px;
    margin: 31px;
}

.boxLeft-te{
    height: 82vh;
    padding: 32px;
    /* padding: 15px; */
}

.boxRigth-wo{
    height: 100vh;
    padding: 10px;

}

.boxLeft-us{

    padding: 55px;
    margin: 0 0 0 65px;
}
.boxRigh-ba{
    
    padding: 10px;
    margin: 31px 0 0 -15px;
}
td {
    cursor: pointer;
}
/* .box-ficti {
    margin: arriba derecha abajo izquierda */
